h2{
  color: #1090A6;
  font-family: sans-serif;
  
}
p1{
    color:#1090A6;
    font-family:cursive;
}
p2{
    color:#1090A6;
    font-family:cursive;
}
p3{
    color:#1090A6;
    font-family:cursive;
}
p4{
    color:#1090A6;
    font-family:cursive;
}
p5{
    color:#1090A6;
    font-family:cursive;
}

    